<div>
    <div id="weather-display-block">
        <div id="block-header">
            <span id="block-header-text">Current Weather Forecast</span>
        </div>



        <div id="block-content">

            <div id="location-display">
                <div id="current-city">{{vm.weatherData.name}}</div>
                <div id="current-country">{{vm.weatherData.sys.country}}</div>
            </div>

            <div id="left-block">
                <div id="w-logo-block">
                    <img id="w-logo" ng-src="{{vm.setImage(vm.weatherData.weather[0].icon)}}">
                </div>
                <div class="weather-temp">
                    <div class="temp-value">{{vm.weatherData.main.temp | number:0}}
                        <span id="celsius-icon"> &#8451;</span>
                    </div>
                </div>
                <div id="temp-desc">
                    <span id="temp-desc-txt">{{vm.weatherData.weather[0].description}}</span>
                </div>

            </div>


            <div class="right-block">
                <div class="w-data-content">
                    <div class="data-block">

                        <div class="data-title">Wind</div>
                        <span class="data-value">
                            <i class="fab fa-envira"></i>{{vm.weatherData.wind.speed}}</span>
                        <span class="data-symbol">m/sek</span>

                        <div class="setWindDir wind-block">
                            <div class="{{setWind(vm.weatherData.wind.deg)}} wind-arrow-wrap">

                                <div class="wind-arrow-block">
                                    <div class="fas fa-arrow-up wind-arrow"></div>
                                </div>

                            </div>
                            <div class="arrow-txt">{{setDirection}}</div>
                        </div>

                    </div>

                    <div class="data-block">
                        <div class="data-title">Humidity</div>
                        <span class="data-value">
                            <i class="fas fa-tint"></i>{{vm.weatherData.main.humidity}}</span>
                        <span class="data-symbol">%</span>
                    </div>

                    <div class="data-block">
                        <div class="data-title">Pressure</div>
                        <span class="data-value">
                            <i class="fas fa-compass"></i>{{vm.weatherData.main.pressure}}</span>
                        <span class="data-symbol">hpa</span>
                    </div>

                </div>
            </div>

        </div>

        <div id="block-footer">
            <i class="fas fa-calendar-alt icon-right-ident"></i>{{vm.weatherData.dt * 1000 | date}}
        </div>


    </div>
    
    <div id="forecast-display-list" class="list-filter">
        <div ng-repeat="(key, value) in vm.forecastData.list | groupBy: 'dt * 1000 | date'">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a ng-click="setArrow()" id="panel-title" class="panel-title setArrowPossition" data-toggle="collapse" data-target="#{{$index + 1}}"
                            ng-class="{'todaysDay': $first}">
                            {{value[0].dt * 1000 | date: 'EEE dd.MM'}}
                            <span ng-class="{'arrow-down': $index != 0,'arrow-up ': $first}"></span>
                        </a>
                    </div>
                    <div id="{{$index + 1}}" class="panel-collapse collapse" ng-class="{'show': $first}">


                        <div class="list-headers-block">
                            <span class="list-header">Temperature
                                <span class="list-head-icon">°C</span>
                            </span>

                            <span class="list-header">Humidity
                                <span class="list-head-icon">%</span>
                            </span>

                            <span class="list-header">Wind
                                <span class="list-head-icon">m/sek</span>
                            </span>
                        </div>

                        <div class="list-data-block" ng-repeat="record in value  | filter: filterData">
                            <span class="list-day-data">{{setDayPrefix(record.dt * 1000 | date:'HH:mm:ss' )}}</span>
                            <span class="list-img-data">
                                <img ng-src="{{vm.setImage(record.weather[0].icon)}}" alt="Weather Image">
                            </span>
                            <span class="list-descr-data">{{record.weather[0].description}}</span>
                            <span class="list-temp-data">{{record.main.temp | number:0}}</span>
                            <span class="list-humid-data">{{record.main.humidity}}</span>
                            <span class="list-wind-data">{{record.wind.speed}}


                                <div class="setWindDir wind-block">
                                    <div class="{{setWind(record.wind.deg)}} wind-arrow-wrap">

                                        <div class="wind-arrow-block">
                                            <div class="fas fa-arrow-up wind-arrow"></div>
                                        </div>

                                    </div>
                                    <div class="arrow-txt">{{setDirection}}</div>
                                </div>


                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>