[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#weather-display-block{
    font-size: 1em;
    width: 17em;
    margin: 0 auto;
    border: 0.17em solid rgb(70, 155, 211);
    margin-top: 1em;
    font-family: 'Exo 2', sans-serif;

}

#block-header{
    background-color: #4398D0;
    margin: 0.1em;
}

#block-header-text{
    color: white;
    font-weight: bold;
    margin-bottom: 0em;
    font-size: 0.7em;
    padding: 0.3em;
}

#right-block{
    float: right;
    width: 50%;
    height: 100%;
}

#left-block{
    display: inline-block;
    width: 50%;
    height: 100%;
}

#block-footer{
    border-top: 0.07em dotted #4398D0;
    font-size: 0.6em;
    padding: 0.3em;
    margin-left: 0.5em;

}

#location-display{
    margin-left: 0.5em;
    margin-top: 0.5em;
}

#current-city{
    font-size: 1.5em;
    margin-top: -0.3em;
    margin-bottom: -0.4em;
}

#current-country{
    font-size: 0.8em;
    color: rgb(119, 119, 119);
}


#icon-block{
   width: 50%;
   display: inline-block;
   margin-bottom: -1.4em;
}

#weather-temp{
    width: 50%;
    float: right;
    text-align: left;
}


#celsius-icon{
    position: absolute;
    bottom: 2em;
    color: rgb(119, 119, 119);
    font-size: 0.3em;
    font-weight: bold;

}

#temp-value{
    font-size: 2.5em;
    position: relative;

}


#weather-icon{
    height: 100%;
    width: 100%;
}

#temp-desc{
    font-size: 0.7em;
    color: rgb(119, 119, 119);
    margin-left: 0.5em;
    margin-bottom: 0.8em;
    display: inline-block;
}

.data-block{
    margin-left: 0.4em;
}

#weather-data{
    margin-top: 0.2em;
}

.data-title{
    font-size: 0.6em;
    margin-bottom: -0.8em;
    font-weight: bold;
}

.data-value{
    color: rgb(0, 102, 153);
    font-size: 1.4em;
}

.data-symbol{
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(119, 119, 119)
}

.icon-right-ident{
    margin-right: 0.2em;
}


#forecast-display-list{
    font-size: 1em;
    margin: 0 auto;
    width: 22em;
    /* border: 0.17em solid rgb(70, 155, 211); */
    margin-top: 1em;

}




#panel-title{
    /* text-shadow: 0 1px 0 #fff; */

    font-family: 'Exo 2', sans-serif;
    color: white;
    font-size: 1.2em;
    margin-bottom: 0.3em;
    text-align: center;
    text-decoration: none;
    display: block;
    background: rgb(84, 153, 208);
    border: 1px solid #ddd;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;

    -moz-box-shadow: 0 3px 5px #ccc;
    -webkit-box-shadow: 0 3px 5px #ccc;
    -o-box-shadow: 0 3px 5px #ccc;
    -ms-box-shadow: 0 3px 5px #ccc;
    box-shadow: 0 3px 5px #ccc;


    position: relative;
}

#title:hover{
    background: rgb(0, 102, 153);

}

.todaysDay::after {
    content: "(Today)";
    font-size: 0.5em;
    position: absolute;
    bottom: 0.7em;
    margin-left: 0.5em;
}

.arrow-up, .arrow-down{
    font-size: 0.65em;
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.arrow-up:before {
    display: none; 
    font-family: "Font Awesome 5 Solid"; 
    content: "\f062";
}

.arrow-down:before {
    display: none; 
    font-family: "Font Awesome 5 Solid"; 
    content: "\f063";
}