[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body{
    font-family: 'Exo 2', sans-serif;
}


/* Current weather design */
#weather-display-block{
    font-size: 0.9em;
    border: 0.17em solid rgb(70, 155, 211);
    margin-top: 1em;
    display: inline-block;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#block-header{
    background-color: #4398D0;
    margin: 0.1em;
    text-align: left;
}

#block-header-text{
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    display: block;
    padding: 0.2em;
}


#location-display{
    position: relative;
    text-align: left;
}

#current-city{
    font-size: 2em;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

#current-country{
    font-size: 0.8em;
    color: rgb(0, 102, 153);
    display: inline-block;
    position: absolute;
    top: 3.3em;
    margin-left: 0.7em;
    font-weight: bold;

}

#block-content{
    display: inline-block;
}

#left-block{
    display: inline-block;
    height: 8em;
    white-space: nowrap;
    position: relative;


    padding-right: 1.4em;
    margin-top: -0.8em;


}

#w-logo-block{
    display:inline-block;
    position: relative;

}

#w-logo{
    width:5em;
    margin-top: -1em;
}

.weather-temp{
    display:inline-block;
    position: relative;
    margin-top: 2em;
}

.temp-value{
    display:inline;
    font-size: 2.5em;
    margin-right: 0.1em;
    margin-right: 0.4em;
    position: relative;
}

#celsius-icon{
    position: absolute;
    top: 0.3em;
    font-size: 0.3em;
    font-weight: bold;
    color: rgb(119, 119, 119);
    margin-right: 0.6em;
}

#temp-desc{
    text-align: center;
    margin-top: -0.5em;
    margin-left: 0.5em;
}

#temp-desc-txt{
    font-size: 0.8em;
    color: rgb(119, 119, 119);
    margin-top: 0.7em;
    color: rgb(0, 102, 153);


}

.right-block{
    float: right;
    height: 8em;
    white-space: nowrap;
    position: relative;
    margin-right: 0.6em;

    margin-bottom: 1.8em;
    margin-right: 1.1em;
}

.w-data-content{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
  }


.data-title{
    font-size: 0.6em;
    margin-bottom: -0.65em;
    font-weight: bold;
}

.data-value{
    color: rgb(0, 102, 153);
    font-size: 1.4em;
}

.data-symbol{
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(119, 119, 119)
}

.wind-block{
    display: inline-block;
    color: rgb(0, 102, 153);
    text-align: center;
    margin-left: 0.1em;
}

.wind-arrow-block{
    border: 0.15em solid rgb(0, 102, 153);
    font-size: 0.7em;
    height: 1.4em;
    width: 1.4em;
    border-radius: 2em;
    position: relative;
    margin: 0 auto;

}

.wind-arrow{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-txt{
    margin-top: -0.25em;
    font-size: 0.5em;
    font-weight: bold;
}

.data-block{
    margin-bottom: 0.2em;
}

#block-footer{
    border-top: 0.2em dotted #4398D0;
    font-size: 0.6em;
    width: 100%;
    padding: 0.4em 0;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(0, 102, 153);
}


/* Wind arrow rotation */
.rotated-n{
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotated-ne{
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.rotated-e{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotated-se{
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.rotated-s{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotated-sw{
    -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.rotated-w{
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.rotated-nw{
    -ms-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
  

/* Forecast list design */
#forecast-display-list{
    font-size: 1em;
    margin: 0 auto;
    width: 22em;
    margin-top: 1em;
}

#panel-title{
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-size: 1.2em;
    margin-bottom: 0.3em;
    text-align: center;
    text-decoration: none;
    display: block;
    background: rgb(84, 153, 208);
    border: 0.07em solid #ddd;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    border-radius: 0.3em;

    -moz-box-shadow: 0 0.1em 0.2em #ccc;
    -webkit-box-shadow: 0 0.1em 0.2em #ccc;
    -o-box-shadow: 0 0.1em 0.2em #ccc;
    -ms-box-shadow: 0 0.1em 0.2em #ccc;
    box-shadow: 0 0.1em 0.2em #ccc;

    position: relative;
}

#panel-title:hover{
    background: rgb(0, 102, 153);

}

.todaysDay::after {
    content: "(Today)";
    font-size: 0.5em;
    position: absolute;
    bottom: 0.7em;
    margin-left: 0.5em;
}

.arrow-up, .arrow-down{
    font-size: 0.65em;
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.arrow-up:before {
    display: none; 
    font-family: "Font Awesome 5 Solid"; 
    content: "\f062";
}

.arrow-down:before {
    display: none; 
    font-family: "Font Awesome 5 Solid"; 
    content: "\f063";
}

.list-headers-block{
    text-align: right;
    display: inline-block;
    margin-left: 9.7em;

}

.list-header{
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 0.7em;
    color: rgb(119, 119, 119);
    position: relative;
}


.list-head-icon{
    display: inline-block;
    position: absolute;
    font-size: 0.7em;
    top: 1.5em;
    left: 0em;
}


.list-data-block{
    position: relative;
    margin-bottom: 0.7em;
    margin-top: 0.7em;

    color: rgb(0, 102, 153);
    font-weight: bold;
    font-size: 0.8em;

    border-top: 0.07em dotted #4398D0;
    border-bottom: 0.07em dotted #4398D0;

}

.wind-list{
    display: inline-block;
    position: absolute;
    right: 0.9em;
    top: 1.2em;
}

.list-wind-data{
    position: absolute;
    right: 1.1em;
    top: 1.1em;
}

.list-humid-data{
    position: absolute;
    right: 6.4em;
    top: 1.4em;
}

.list-temp-data{
    position: absolute;
    left: 7.2em;
    top: 0.32em;
    font-size: 2em;
}

.list-descr-data{
    font-weight: normal;
    position: absolute;
    top: 0.7em;
    left: 10.2em;
    width: 3em;
    text-align: center;
    font-size: 0.9em;

}

.list-img-data{
    position: absolute;
    top: 0.3em;
    left: 4.6em;

}

.list-day-data{
    font-size: 1.1em;
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 1.2em;

}

#searchBar{
    margin: 0 auto;
    text-align: center;
    width: 22em;
    height: 2em;
    margin-top: 1em;
}


input{
    font-size: 0.7em !important;
}


/* Font awesome overrides */
.fa-sun{
    margin: 0 -0.2em;
}

.fa-search{
    color: rgb(0, 102, 153);
}

.fa-calendar-alt{
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: rgb(0, 102, 153);
}

.fa-envira, .fa-tint, .fa-compass{
    margin-right: 0.3em;
}


/* Logo design */
#site-logo{
    text-align: center;
    margin-top: 1em;
    color: rgb(0, 102, 153);
    font-size: 1.2em;
}


#logo-part-1{
    border-top: 0.06em solid rgb(0, 102, 153);
    border-right: 0.06em solid rgb(0, 102, 153);
    border-top-right-radius: 1em;
    padding-right: 0.1em;

}

#logo-part-2{
    border-bottom: 0.06em solid rgb(0, 102, 153);
    border-left: 0.06em solid rgb(0, 102, 153);
    border-bottom-left-radius: 1em;
    padding-left: 0.4em;

}

.setspace-logo{
    margin-right: -0.04em;
    margin-left: 0.3em;

}